body{
    margin: 0px;
    padding: 0px;
}

#heros{
    height: 500px;
    width: 0 auto;
    background-image: url(images/image1.jpg);
    text-align: center;

}

#heros p{
    padding-top: 150px;
}

h2 {
    color: white;
    font-weight: bold;
    font-style: italic;
}

span{
    font-weight: bold;
    font-size: 20px;
    color: aliceblue;
}